@import "tailwindcss";

@theme inline {
  --color-primary: #5584ff;
  --color-surface: #ffffff;
  --color-background: #f4f7fe;
  --color-text-primary: #1a1d1f;
  --color-text-secondary: #9ca3af;
  --color-accent: #ffc107;
  --color-shadow: #091413;

  --font-montserrat: var(--font-montserrat);
  --font-birthstone: var(--font-birthstone);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
}
/* 
body {
  font-family: Arial, Helvetica, sans-serif;
} */
